<!-- app-sidebar.component.html -->
<div class="sidebar d-flex mt-2 flex-column p-3">
  <a href="/" class="title d-flex align-items-center mb-3 mb-md-0 me-md-auto">
    <span class="fs-4">Project</span>
  </a>
  <hr />
  <ul class="nav mt-3 mb-5 nav-pills flex-column">
    <li class="nav-item">
      <a href="/" class="nav-link" aria-current="page">
        <i class="bi bi-grid-fill"></i> Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a href="/inventory" class="nav-link" aria-current="page">
        <i class="bi bi-shop-window"></i> Inventory
      </a>
    </li>
    <li>
      <a href="/products" class="nav-link">
        <i class="bi bi-box-seam"></i> Products
      </a>
    </li>
    <li class="nav-item">
      <a href="/reports" class="nav-link" aria-current="page">
        <i class="bi bi-graph-up"></i> Reports
      </a>
    </li>
  </ul>
  <hr />
  <ul class="nav nav-pills flex-column bottom-nav">
    <li>
      <a href="#" class="nav-link">
        <i class="bi bi-person-circle"></i> Login
      </a>
    </li>
    <li>
      <a href="#" class="nav-link"> <i class="bi bi-gear"></i> Settings </a>
    </li>
  </ul>
</div>
