<div class="container">
  <div class="Titleheader">
    <div class="row banner">
      <div class="banner-text">
        <h1>Hello Martin!</h1>
        <p>Welcome to your overview of your account.</p>
      </div>
      <img src="assets/pro.jpg" class="rounded float-start" alt="profile" />
    </div>

    <mat-card class="demo-inline-calendar-card">
      <mat-calendar></mat-calendar>
    </mat-card>
  </div>

  <div class="productDetails my-3 mb-3 head-tile">
    <div class="products bg-white p-3">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="display-6">My products</h1>
        <div class="input-group me-2" style="max-width: 200px">
          <button
            class="btn btn-transparent text-secondary"
            type="button"
            routerLink="/products"
          >
            View all products >
          </button>
        </div>
      </div>
      <div class="cards mt-3">
        <div class="card" *ngIf="!products">
          <div class="card-details">
            <p class="text-title">Loading...</p>
            <p class="text-body">Please wait while we fetch your products.</p>
          </div>
        </div>
        <div
          class="card"
          *ngFor="let product of products.slice(0, 2); let i = index"
        >
          <img
            [src]="product.imageUrl"
            alt="Product Image"
            class="card-img-top"
          />
          <div class="card-details mt-2">
            <p class="text-title">{{ product.name }}</p>
            <p class="text-body">Price: {{ product.price }}</p>
          </div>
          <button class="card-button" (click)="goToProductDetail(product.id)">
            More <i class="bi bi-arrow-right-circle"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="statis bg-white p-3">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="display-6">Statistics</h1>
        <div class="input-group me-2" style="max-width: 200px">
          <button
            class="btn btn-transparent text-secondary"
            type="button"
            routerLink="/reports"
          >
            View more >
          </button>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between flex-wrap mt-3">
            <div class="stat-card shadow-sm p-3 mb-3 rounded stat-card-1">
              <h6>Product Stock</h6>
              <p class="stat-number">
                4,189 <span class="text-success">↑ 2%</span>
              </p>
            </div>
            <div class="stat-card shadow-sm p-3 mb-3 rounded stat-card-2">
              <h6>Sales Volume</h6>
              <p class="stat-number">
                8,918 <span class="text-danger">↓ 22%</span>
              </p>
            </div>
            <div class="stat-card shadow-sm p-3 mb-3 rounded stat-card-3">
              <h6>Customer Satisfaction</h6>
              <p class="stat-number">
                4.8 <span class="text-muted">(417 Reviews)</span>
              </p>
            </div>
            <div class="stat-card shadow-sm p-3 mb-3 rounded stat-card-4">
              <h6>Revenue Growth</h6>
              <p class="stat-number">
                89% <span class="text-success">↑ 2%</span>
              </p>
            </div>
            <div class="stat-card shadow-sm p-3 mb-3 rounded stat-card-1">
              <h6>Product Stock</h6>
              <p class="stat-number">
                4,189 <span class="text-success">↑ 2%</span>
              </p>
            </div>
            <div class="stat-card shadow-sm p-3 mb-3 rounded stat-card-2">
              <h6>Sales Volume</h6>
              <p class="stat-number">
                8,918 <span class="text-danger">↓ 22%</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
